*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:"Raleway", sans-serif;
}

main {
    padding: 0 32px; 
  }

a{
    text-decoration: none;
}
a:visited{
    color:transparent;
}
/*header*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
    
}

.header_nav{
    display:flex;
    align-items: center;
    
}

.header_nav_link{
    padding: 20px;
    width: 200px;
    font-size:18px;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px  transparent solid;
    border-bottom: 3px transparent solid;
    text-decoration: none;
    color: inherit;
}

.header_nav_link[data-active=true] {
    color: #0065FC;
    border-top: 3px  solid #0065FC;
}

.header_nav_link[data-active=false]:hover{
    border-top: 3px  solid #0065FC;

}

.header_img{
    display:flex;
    height: 60px;
    padding-left: 10px;
}
/* Media queries*/
@media screen and (max-width: 768px) {
    .header{
        display:flex;
        flex-direction: column;
    }
    .header_nav_link{
        width: 100%;
    }
    .header_nav_link[data-active=true] {
        color: #0065FC;
        border-bottom: 3px  solid #0065FC;
        border-top: none;
    }
    
    .header_nav_link[data-active=false]:hover{
        border-bottom: 3px  solid #0065FC;
        border-top: none;
    
    }
}

/*main*/

/*title*/

#title h1 {
    font-size:24px;
    font-weight:bold;
}

#title p{
    margin: 20px 0px;
}

#icon_title{
    background-color:#F2F2F2;
    padding: 15px 20px ;
    border-radius:15px 0 0 15px;
    text-align: center;
}

#search_bar{
    border-right:none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 25px 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    
}

#title button{
    background-color:#0065FC;
    color:white;
    border:none;
    text-align: center;
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 0 15px  15px 0;
    cursor:pointer;
    font-weight: bold; 

}
.fa-map-marker-alt{
    border:solid 1px;
    border:none;
    padding: 5px;
    border-radius:5px;
    background-color:#F2F2F2;
}


#filter{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-top: 30px;

    

}

#filter h2{
    margin-right: 20px ;
    display: flex;
    align-items: center;
    padding: 0px 5px ;
    font-weight: bold;
    font-size: 20px;
}

.search_filter{
    display:flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    margin:0 16px 20px 0;
    cursor: pointer;
    transition-duration: 0.5s;
    font-weight: bold;
    

}

.search_filter:hover{
    background-color: #DEEBFF;
    transform: scale(1.050);
}

.search_filter_icon_wrap{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.filter_titles{
    margin: 0  15px;
}


.fa-money-bill-wave{
    color:#0065FC;
    border:none;
    border-radius: 100%;
    background-color:#DEEBFF;
    padding: 15px 10px;
}

.fa-child{
    color:#0065FC;
    border:none;
    padding: 15px 10px;
    border-radius:8px;
    background-color:#DEEBFF;
   
}

.fa-heart{
    color:#0065FC;
    border:none;
    padding: 15px 10px;
    border-radius:16px;
    background-color:#DEEBFF;
   
}

.fa-dog{
    color:#0065FC;
    border:none;
    padding: 15px 10px;
    border-radius:16px;
    background-color:#DEEBFF;
   
}

.search_result{
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
    
}

.search_result_information{
    margin: 0;
}

.fa-info{
    height: 20px;
    width: 20px;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color:#0065FC;
}

/*hosting*/

.hosting{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hosting_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:60%;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
    
}
.hosting_main h2{
    font-weight: bold;
    font-size:24px;
}

.hosting_main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 10px;
}


.card_hosting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
}

.card_hosting:hover{
    cursor: pointer;
    transform: scale(1.015);
}

.card_hosting_img{
    object-fit: cover;
    width: 100%;
    height: 125px;
    border-radius: 15px 15px 0 0;
}
.card_hosting_desc{
    width: 90%;
}
.card_hosting_desc h3{
    font-weight: bold;
    
}
.card_hosting_desc p{
    margin: 5px 0;
}
.color_bleu{
    color: #0065fc;
}
.color_gray{
    color: #f2f2f2;
}

.hosting_main_footer{
    font-weight: bold;
}
/*popular*/

.hosting_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}

.hosting_popular_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hosting_popular_title h2 {
    font-weight: bold;
    font-size: 24px;
}
.hosting_popular_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hosting_popular_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: auto;
    border-radius: 20px;
    margin-bottom:20px;
    box-shadow: 0 0 16px #0000002e;
}
.hosting_popular_card:hover{
    cursor: pointer;
    transform: scale(1.015);
}


.hosting_popular_card_img{
    object-fit: cover;
    width: 35%;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.hosting_popular_card_desc{
    width: 60%;
    padding-left: 2%;
}
.hosting_popular_card_desc h3{
    font-weight: bold;
}    

.hosting_popular_card_desc p {
    margin: 5px 0 40px 0;
}

/*activity*/

.activity{
    margin-top: 50px;
    margin-bottom: 50px;
}
.activity h2{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

/*activity medium images*/
.activity_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
}

.activity_card_medium{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.activity_card_medium:hover{
    cursor: pointer;
    transform: scale(1.015);
}
.activity_card_medium_img{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.activity_card_title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
    font-weight:bold;
}
/*activity small images*/

.activity_container_small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 600px;
}

.activity_card_small{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.activity_card_small:hover{
    cursor: pointer;
    transform: scale(1.015);
}

.activity_card_small_img_2{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.activity_card_small_img_3{
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.activity_card_small_img_5{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.activity_card_small_img_6{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/*footer*/

footer{
    border-top: 1px dashed #0000;
    width: 100%;
    background:#f2f2f2;
    color:#333;
    margin: 1rem 0;
}

.footer_container{
    max-width: 100%;
    margin: auto;
    width: 1440px;
    display: flex;
    justify-content: space-around;
}

.bloc {
    padding: 20px 20px;
    width:100%;
}

.bloc h3{
    font-weight: bold;
}

.footer_about h3,
.footer_hosting h3,
.footer_help h3{
    font-size: 22px;
    padding-bottom: 20px;
}

.about_list,
.hosting_list,
.help_list{
    list-style-type: none;
    margin:0;
}

.about_list li,
.hosting_list li,
.help_list li{
    padding:2px 0;
    margin-bottom: 20px;
}

.about_list a,
.hosting_list a,
.help_list a {
    color:#333;
    text-decoration:none;
    display:flex;
    align-items: center;
}
/* Media queries*/
@media screen and (max-width: 768px) {
    .footer_container{
        flex-direction: column;
        padding: 20px;
    }
    .bloc{
        width:100%;
        margin:0 0;
    }

}